*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    background-color: skyblue;
}
nav
{
    line-height: 75px;
    height: 75px;
    width: 100%;
    padding:0 50px;
    background-image: linear-gradient(tan,red)
    ;
    cursor: pointer;
}
nav .Navtitle
{
    color:black;
    font-family:'Times New Roman', Times, serif;
    float: left;
    letter-spacing: 1px;
    text-shadow: 5px 5px 10px white;
}
nav .Navtitle:hover{
    color: white;
    transition: all 0.4s ease 0s;
    
}
nav ul
{
   float:right;
}
nav li{
    padding:0 10px 10px 10px;
    list-style: none;
    display: inline-block;
    text-decoration:none; 
    font-size: 20px;  
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: black;
   transition: all 0.4s ease 0s;
}

